/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

#main{

    margin:50px auto;
    font-family:raleway;
}
.label {
    float: left;
    height: 30px;
    padding-right: 4px;
    padding-top: 2px;
    position: relative;
    text-align: right;
    vertical-align: middle;
    color: #000 !important;
}

.label:after {
    content: "*";
    color: red;
    font-size: larger;
}
span{
    color:red;
}

h2{
    font-weight: 600;
    background-color: #FEFFED;
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 15px;
}

hr{
    border:0;
    border-bottom:1px solid #ccc;
    margin: 10px -40px;
    margin-bottom: 30px;
}

#login{
    width:40%;
    margin:0 auto;
    display:inline-block;

    border-radius: 10px;
    font-family:raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    //margin-top: 70px;
}
textarea{
    margin-top: 8px;
    font-size: 16px;
    font-family:raleway;

}
input[type=radio]{
    margin-top: 8px;
}
input[type=text],[type=email],input[type=password]{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:raleway;
} 

input[type=submit]{
    width: 100%;
    background-color:#FFBC00;
    color: white;
    border: 2px solid #FFCB00;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}
#profile{
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color:#DCE6F7;
}

#logout{
    float:right;
    padding:5px;
    border:dashed 1px gray;
}

a{
    text-decoration:none;
    color: cornflowerblue;
}

i{
    color: cornflowerblue;
}#note {
    clear: left;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 18px;
}
/*-----------------------------------------------------------------
css settings for right side advertisement
------------------------------------------------------------------*/
#formget{
    float:right;
}	
h1{ 
    font-weight: 600;
    text-align: center;
    display:inlne;
    alignment-adjust: center;
    margin:0 auto;
    width:100%;


}
textarea[type=text]{
    width:100%;
    height:200px;

}

.matter{


    alignment-adjust: central;
    margin:0 auto;
    text-align: center;

}
.clr{
    clear:left;
}
.lab{

    font-size: 110%;
    float:left;
}
@media screen and (max-width: 800px) {
    
    #login{
        width:330px;
    }
}